<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout 1</title>

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="images/logo-simbolo-definitiva-02.jpg" alt="" />
      </div>
      <nav>
        <ul class="navegacao">
          <li>Contato</li>
          <li>Sobre nós</li>
          <li>Portifólio</li>
        </ul>
      </nav>
      <div class="hero"></div>
    </header>

    <main>
      <section class="section1">
        <article>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
            perspiciatis pariatur sint illo sunt deleniti unde ut totam
            assumenda facere, quasi excepturi. Dolorum, obcaecati tenetur! Minus
            itaque fuga inventore doloribus.
          </p>
        </article>
        <div>
          <img src="images/amor-baby-xuxinha.png" alt="" class="laços" />
        </div>
      </section>

      <section class="section2">
        <article>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
            perspiciatis pariatur sint illo sunt deleniti unde ut totam
            assumenda facere, quasi excepturi. Dolorum, obcaecati tenetur! Minus
            itaque fuga inventore doloribus.
          </p>
        </article>

        <img src="images/amor-ursinho.png" alt="" class="laços" />
      </section>

      <section class="section3">
        <article>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
            perspiciatis pariatur sint illo sunt deleniti unde ut totam
            assumenda facere, quasi excepturi. Dolorum, obcaecati tenetur! Minus
            itaque fuga inventore doloribus.
          </p>
        </article>
        <div class="images">
          <img src="images/faixinhas-perola.png" alt="" class="laços" />
        </div>
      </section>
    </main>
    <footer>Jheli Atelier</footer>
  </body>
</html>
